.advent-calendar {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 1rem;

  button {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}

.button-bar {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: end;

  button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
